@font-face{
    font-family: Roboto;
    src: url("./font/Roboto/Roboto-Regular.ttf");
}
a{
    color:black;
}
a#paper{
    text-decoration:none;
}
a#paper:hover{
    text-decoration:underline;
}
body{
    font-family: Roboto;
}
