a{
    color:black;
}
a#paper{
    text-decoration:none;
}
a#paper:hover{
    text-decoration:underline;
}
body{
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
}


li {
    list-style-position: outside;
    padding-left: 0.5em;
}
