a{
    color:black;
}
a#paper{
    text-decoration:none;
}
a#paper:hover{
    text-decoration:underline;
}
body{
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
}

ol {
  counter-reset: number;
  list-style-position: outside;
}
li {
  list-style: none;
  counter-increment: number;
}
ol#conference_paper li::before {
  content: "[c." counter(number) "]";
  position: relative;
}
ol#journal_paper li::before {
  content: "[j." counter(number) "]";
  position: relative;
}
